@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: 'roboto', sans-serif;
}

body {
  background-color: rgb(240, 227, 154);
}

.grid-container {
  background-color: rgb(240, 227, 154);
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;

}

.grid-item {
  background-color: rgb(240, 227, 154);
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: center;

}

.grid-item1 {
  display: inline-block;
  justify-content: space-evenly;
  
  box-shadow: 2px 5px 10px rgba(68, 67, 67, 0.795);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 8px;
}

.footer {
  
  margin:10%;
}