body {
    background: linear-gradient(to right, #c4cd89 0, #b1cb2b 58%);
 }  



form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

div {
    box-sizing: border-box;
    width: 100%;
    border: 100px solid black;
}

form {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    border: 1px Solid black;
    background-color: rgb(181, 184, 109);
}

form>p {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

input {
    width: 300px;
    margin-left: 2%;
    float: inline-end;
}

.alert {
    color: red;
}

#submt {
    background: rgb(62, 138, 224);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

#submt:hover {
    background: rgb(173, 27, 27);
}