body {
    background-color: rgb(21, 214, 221);
    font-family: Verdana;
  
    text-align: center;
  }
  form {
  background: rgba(240, 3, 3, 0.1);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    max-width: 500px;
    margin: 50px auto;
    color: rgb(0, 0, 0);
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
  font-family: 'Inter', sans-serif;
  }
  .form-control {
      text-align: left;
      margin-bottom: 25px;
  }
  
  .form-control label {
      display: block;
      margin-bottom: 5px;
  }
  
  .form-control input,
  .form-control select,
  .form-control textarea {
  
      border: 1px solid #777;
      border-radius: 8px;
      font-family: inherit;
      padding: 10px;
      display: block;
      width: 70%;
  }
  
  
  .form-control input[type="checkbox"] {
      display: inline-block;
      width: auto;
  }
  
  button {
      background-color: #13afa7;
      box-shadow: 2px 0px 8px rgba(0, 0, 0, 1);
      border: 1px solid rgb(145, 102, 102);
      border-radius: 8px;
      font-family: inherit;
      font-size: 21px;
      display: flexbox;
      
      width: 50%;
      margin-top: 20px;
     
  }